<%- include('../includes/head.ejs') %>

</head>
<body >
  <%- include('../includes/client/client-navigation.ejs')%>
  <main class="flex gap-4 flex-wrap">
    <% if (rows.length > 0) {%>
        <% for(let row of rows) { %>
            <div class="w-64 h-fit justify-center flex flex-col products">
              <img src='../../<%= row.productImg %>' class="w-full h-40">
                <p><%= row.productId %></p>
                <p><%= row.productName %></p>
                <p><%= row.productPrice %></p>
                <form action="/add-cart?clientName=<%= clientName %>" method="POST">
                  <input type="hidden" value="<%= row.product_qty %>" name="increaseQuantityOfProduct" >
                  <input type="hidden" name="productImage" value="<%= row.productImg %>">
                  <input type="hidden" name="productName" value="<%= row.productName %>">
                  <input type="hidden" name="productId" value="<%= row.productId %>">
                  <input type="hidden" name="productPrice" value="<%= row.productPrice %>" min="1">
                  <button class="btn" type="submit">+</button>
              </form>
                <form action="/decrease-cart?clientName=<%= clientName %>" method="POST">
                  <input type="hidden" value="<%= row.product_qty %>" name="increaseQuantityOfProduct" >
                  <input type="hidden" name="productImage" value="<%= row.productImg %>">
                  <input type="hidden" name="productName" value="<%= row.productName %>">
                  <input type="hidden" name="productId" value="<%= row.productId %>">
                  <input type="hidden" name="productPrice" value="<%= row.productPrice %>" min="0">
                  <button class="btn" type="submit">-</button>
              </form>
                
                <form action="/delete-cartProducts?clientName=<%= clientName %>&productId=<%= row.id %>" method="POST">
                  <input type="hidden" value="DELETE" name="productId" >
                  <button class="btn" type="submit">Delete</button>
              </form>
              </div>
              <% } %>
              <p>total price <%= totalPrice %></p>
              
    <% } else {%>
        <h1>Product not found</h1>
    <% } %>
</main>

<%- include('../includes/end.ejs') %>