<%- include('../includes/head.ejs') %>

</head>
<body class="bg-amber-50">
    <%- include('../includes/client/client-navigation.ejs')%>

    <main class="flex gap-4 flex-wrap">
        <% if (rows.length > 0) {%>
            <% for(let row of rows) { %>
                <div class="w-64 h-fit justify-center flex flex-col products">

                    <img src='../../<%= row.productImg %>' class="w-full h-40">
                    <p><%= row.productName %></p>
                    <p><%= row.productDescription %></p>
                    <p><%= row.productPrice %></p>
                    <p><%= row.seller %></p>
                    <form action="/add-cart?clientName=<%=clientName%>" method="POST">
                        <input type="hidden" name="productImage" value="<%= row.productImg %>">
                        <input type="hidden" name="productName" value="<%= row.productName %>">
                        <input type="hidden" name="productId" value="<%= row.productId %>">
                        <input type="hidden" name="productPrice" value="<%= row.productPrice %>">
                        <input type="hidden" name="quantityOfProduct" value="<%= row.product_qty %>" min="1">
                        <input type="hidden" name="seller" value="<%= row.seller %>">
                        <button type="submit">Add to Cart</button>
                      </form>
                      
                </div>
            <% } %>
        <% } else {%>
            <h1>Product not found</h1>
        <% } %>
    </main>

<%- include('../includes/end.ejs') %>